.head{
    height: 500px;
    margin: 0px 20px;
    padding: 20px;
    background-image: url('bg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-color: aquamarine;
    background-blend-mode: multiply;
    background-clip: padding-box;
    border: 5px dashed lightsalmon;
    border-radius: 10px;

}
.name{
    font-size: 35px;
    text-align: center;
    height: 50px;
    background-color: #67ED35;
    background-clip: padding-box;
    border: 1px solid #7ef851;
    width: 500px;
    margin-left: 370px;
    box-shadow: 10px 15px 2px 1px #1f2e19;

}