.head{
    height: 500px;
    margin: 0px 20px;
    padding: 20px;
    background-image: url('bg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-color: aquamarine;
    background-blend-mode: multiply;
    background-clip: padding-box;
    border: 5px dashed lightsalmon;
    border-radius: 10px;

}
.name{
    font-size: 35px;
    
    height: 50px;
    background-color: #67ED35;
    background-clip: padding-box;
    border: 1px solid #7ef851;
    width: auto;
    box-shadow: 10px 15px 2px 1px #1f2e19;
    margin-left: 150px;
}


.head img{
    float: left;
    border-radius: 50%;
    
}

.head-name{
    padding-bottom: 100px;
    text-align: center;
    width: 580px;
    height: 50px;
    float: left;
}
.history{
    width: 240px;
    float: right;
    padding: 0 10px 0 5px;
    border: 3px solid #7ef851;
    box-shadow: 5px 5px 2px 1px #1f2e19;
}