.head{
    height: 500px;
    margin: 0px 20px;
    padding: 20px;
    background-image: url('bg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-color: aquamarine;
    background-blend-mode: multiply;
    background-clip: padding-box;
    border: 5px dashed lightsalmon;
    border-radius: 10px;

}
.name{
    font-size: 35px;
    /* text-align: center; */
    height: 50px;
    background-color: #67ED35;
    background-clip: padding-box;
    border: 1px solid #7ef851;
    width: auto;
    margin-left: 370px;
    box-shadow: 10px 15px 2px 1px #1f2e19;
    display: inline;
    float: left;
    margin: 0;
}

.sp{
    width: 150px;
    height: 50px;
    float: left;
}

.head img{
    float: left;
}

.sh{
    width: 430px;
    height: 50px;
    float: right;
}

.head-name{
    padding-bottom: 100px;
}